*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
}
.header{
  margin-bottom: 10px;
  /* height: 10vh; */
}
.container{
  margin-top: 15vh;
  /* height: 70vh; */
}
.footer{
  position: relative;
  bottom: 0px;
  width:100VW
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear ;
  }
}
.ordernow{
  display: flex;
  flex-direction: column;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
